<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-brown">
    <ion-buttons slot="start">
      <ion-button class="circle-btn" fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Dynamic header -->
    <ion-title>
      @if (isEditMode) {
        EDIT FLAVOUR
      } @else {
        MANAGE FLAVOURS
      }
    </ion-title>

    <ion-buttons slot="end">
      <ion-button class="circle-btn" fill="clear" (click)="onScan()">
        <ion-icon name="scan"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-shadow"></ion-toolbar>
</ion-header>

<ion-content class="manage-content" [fullscreen]="true">
  <app-loading-overlay></app-loading-overlay>
  <div class="form-container" [formGroup]="form">
    <div class="field">
      <label>BARCODE</label>
      <div class="barcode-row">
        <ion-input formControlName="barcode" placeholder=""></ion-input>
        <div class="photo-tile" (click)="onPickPhoto()" tappable>
          @if (photoPreview){
          <img [src]="photoPreview" alt="preview" />
          }
          @if (!photoPreview){
            <ion-icon name="camera"></ion-icon>
          }
        </div>
      </div>
      @if (form.controls['barcode'].invalid && form.controls['barcode'].touched) {
        <div class="error">Barcode is too long</div>
      }
    </div>

    <div class="field">
      <label>FLAVOUR NAME</label>
      <ion-input formControlName="name" placeholder=""></ion-input>
      @if (form.controls['name'].touched && form.controls['name'].invalid) {
        <div class="error">Name is required</div>
      }
    </div>

    <div class="row">
      <div class="field">
    <label>PRICE PER BOX</label>
    <ion-input
      formControlName="pricePerBox"
      type="number"
      (ionBlur)="formatDecimal('pricePerBox')">
    </ion-input>
    @if (form.controls['pricePerBox'].invalid && form.controls['pricePerBox'].touched) {
      <div class="error">Enter a valid number</div>
    }
  </div>
     <div class="field">
    <label>PRICE PER POD</label>
    <ion-input
      formControlName="pricePerPod"
      type="number"
      (ionBlur)="formatDecimal('pricePerPod')">
    </ion-input>
    @if (form.controls['pricePerPod'].invalid && form.controls['pricePerPod'].touched) {
      <div class="error">Enter a valid number</div>
    }
  </div>
    </div>

    <div class="field">
      <label>PODS PER BOX</label>
      <ion-input formControlName="podsPerBox" type="number"></ion-input>
      @if (form.controls['podsPerBox'].invalid && form.controls['podsPerBox'].touched) {
        <div class="error">Enter a valid number</div>
      }
    </div>
  </div>

 <div class="save-strip" slot="fixed">
    <button class="save-btn" (click)="onSave()">
      <ion-icon [name]="isEditMode ? 'checkmark' : 'add'"></ion-icon>
    </button>
  </div>
</ion-content>


